mat-toolbar {
  display: flex;
  opacity: 1;
  background-color: #d7ad65;
  padding: 0.25rem 5rem;
  justify-content: space-between;
  height: 6rem;

  > ul.option-list-mobile,
  > div.logo > mat-icon {
    display: none;
  }
}

.options-list-desktop {
  display: flex;
  gap: 0.5rem;
}

a {
  color: #fff;
  text-decoration: none;
  padding: 4px 0.5rem 0;
  font-size: 1rem;
  font-weight: bold;
  border-top-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  border: 2px solid transparent;
}

a:hover {
  color: #2e3e5b;
  background-color: #f9e1c5;
  border: 2px solid #ddb383;
}

p {
  color: #fff;
  cursor: pointer;
}

.bordered {
  border: 2px solid #fff;
}

mat-toolbar.open {
  display: flex;
  height: 20rem;
  flex-flow: column;
  transition: height 0.3s ease-in-out;
  -webkit-transition: height 0.3s ease-in-out;
  -moz-transition: height 0.3s ease-in-out;
  -ms-transition: height 0.3s ease-in-out;
  -o-transition: height 0.3s ease-in-out;

  > ul.option-list-mobile {
    display: flex;
  }
}

@media (max-width: 992px) {
  div.options-list-desktop {
    display: none;
  }

  mat-toolbar {
    justify-content: center;
  }

  div.logo {
    display: flex;
    align-items: center;
    gap: 1rem;

    > mat-icon {
      color: #fff;
      display: flex !important;
    }

    > mat-icon:hover {
      cursor: pointer;
    }
  }

  ul.option-list-mobile {
    padding: 0;
    list-style: none;
    display: flex;
    flex-flow: column;
    margin: 0;
  }
}
