<main class="carousel-container">
  <section
    class="carousel-track"
    [style.transform]="'translateX(' + -activeIndex * 100 + '%)'"
  >
    <div
      class="carousel-slide"
      *ngFor="let imageUrl of imageUrls; let i = index"
      [style.background-image]="'url(' + imageUrl + ')'"
    >
      <div class="carousel-slide-content">
        <a
          [routerLink]="['{{ nav.path }}']"
          routerLinkActive="router-link-active"
          *ngFor="let nav of carouselNav"
        >
          {{ nav.label | uppercase }}
        </a>
      </div>
      <div class="footer-buttons">
        <button *ngFor="let button of buttons">
          {{ button.label | uppercase }}
        </button>
      </div>
    </div>
  </section>
  <section class="bg-app">
    <h1>WELKHOME!</h1>
    <p>A tu <em>futura</em> casa para comer y beber... de manera única</p>
  </section>
  <section class="square-photos">
    <div class="img" *ngFor="let img of imgs">
      <img [src]="img.url" alt="" />
    </div>
    <!-- <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div> -->
  </section>
</main>
