<footer class="footer-container">
  <svg
    preserveAspectRatio="none"
    class="svg-top"
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 100 100"
  >
    <polygon fill="#52657e" points="0,0 0,100 50,0"></polygon>
    <polygon fill="#2e3e5b" points="100,0 100,100 20,0"></polygon>
  </svg>
  <svg
    preserveAspectRatio="none"
    class="svg-top-2"
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 100 100"
  >
    <polygon fill="#e9e6e9" points="100,0 100,100 20,0"></polygon>
  </svg>
  <section class="items">
    <h5>Principal</h5>
    <a href="#">Restaurante</a>
    <a href="#">Bebidas al peso</a>
    <a href="#">Tu club</a>
    <a href="#">Eventos</a>
    <a href="#">Contacto</a>
  </section>
  <section class="items">
    <h5>Otros</h5>
    <a href="#">Reservar</a>
    <a href="#">Horarios</a>
    <a href="#">Carta</a>
    <a href="#">Promos</a>
    <a href="#">Dónde estamos</a>
  </section>
  <section class="items">
    <h5>Sobre WELKHOMEclub</h5>
    <p>No queremos cambiar el mundo, solo haceros sentir mejor.</p>
  </section>
  <section class="items">
    <h5>Síguenos la pista</h5>
    <div class="social">
      <a href="#">
        <img src="../../../../assets/images/instagram.png" alt="" />
      </a>
      <a href="#">
        <img src="../../../../assets/images/facebook.png" alt="" />
      </a>
      <a href="">
        <img src="../../../../assets/images/google.jpg" alt="" />
      </a>
    </div>
  </section>
  <section class="footer-content">
    <svg
      preserveAspectRatio="none"
      class="svg-top"
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 100 100"
    >
      <polygon fill="#d7ad65" points="0,0 0,100 50,0"></polygon>
      <polygon fill="#e9e6e9" points="100,0 100,100 20,0"></polygon>
    </svg>
    <svg
      preserveAspectRatio="none"
      class="svg-top-2"
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 100 100"
    >
      <polygon fill="#d7ad65" points="100,0 100,100 20,0"></polygon>
    </svg>
    <p class="color-white">© 2014-2023 WELKHOMEclub</p>
    <p class="color-white">Creada con cariño por la #WELCREW</p>
    <P>Aviso Legal y Política de Privacidad Cookes</P>
  </section>
</footer>
